<form method="post" action="">
	<div class="row my-3">
		<div class="col-3">
			<input type="number" name="quantite" class="form-control" id="quantity" value="1">
			<input type="hidden" name="produit" value="{{produit.id}}">
		</div>
		<div class="col">
			<input type="submit" value="Ajouter au panier" name="ajout" class="btn btn-success">
		</div>
	</div>
</form>
